<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="TCCSHOWConnectionString" connectionString="Data Source=GABRIEL\SQLGABRIEL;Initial Catalog=TCCSHOW;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="csTCCSHOW" connectionString="Data Source=LAPTOP-0Q711LEB\TCCSHOW;Initial Catalog=TCCSHOW;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
        <add name="laptop-0q711leb\tccshow.TCCSHOW.dbo" connectionString="Data Source=LAPTOP-0Q711LEB\TCCSHOW;Initial Catalog=TCCSHOW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  <location path="~/Telas/Cliente/Logado">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
   

  <system.web>
    <authentication mode="Forms">

      <forms defaultUrl="~/Telas/Cliente/Logado/Default.aspx" loginUrl="~/Telas/Cliente/Logado/Login.aspx">
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>


</configuration>
