<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="TCCSHOWConnectionString" connectionString="Data Source=LAPTOP-0Q711LEB\TCCSHOW;Initial Catalog=TCCSHOW;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  
  <location path="~/ComLogin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
<system.web>
  <authentication mode="Forms">

    <forms defaultUrl="~/ComLogin/HomeOn.aspx" loginUrl="~/ComLogin/Login.aspx">
    </forms>
  </authentication>
</system.web>
</configuration>
